/* line 7, ../sass/index.scss */
body {
  margin: 0;
  padding: 0;
  background: url("../img/background.jpg") fixed;
  -webkit-background-size: cover;
  /*background: -moz-linear-gradient(top, #303030 0%, #4c4c4c 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#4c4c4c)); 
  background: -webkit-linear-gradient(top, #303030 0%,#4c4c4c 100%); 
  background: -o-linear-gradient(top, #303030 0%,#4c4c4c 100%); 
  background: -ms-linear-gradient(top, #303030 0%,#4c4c4c 100%); 
  background: linear-gradient(to bottom, #303030 0%,#4c4c4c 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#4c4c4c',GradientType=0 ); 
  */
  color: #bbb;
  font-family: 'Verdana';
  font-size: 14px;
}

/* line 25, ../sass/index.scss */
p {
  font-size: 14px;
}

/* line 30, ../sass/index.scss */
h1, h2 {
  color: #25645d;
  font-family: 'Oswald';
}

/* line 34, ../sass/index.scss */
ul li {
  list-style: none;
  font-size: 14px;
}

/* line 39, ../sass/index.scss */
*::selection {
  background: black;
}

/* line 43, ../sass/index.scss */
#navigation {
  height: 200px;
}

/* line 47, ../sass/index.scss */
.menu {
  width: 45%;
  margin: 0 auto;
  position: relative;
}
/* line 52, ../sass/index.scss */
.menu li {
  display: inline-block;
  position: relative;
  top: 30px;
}
/* line 57, ../sass/index.scss */
.menu li a {
  display: block;
  color: #222222;
  font-weight: bold;
  font-family: 'Century Gothic';
  font-size: 16px;
}
/* line 64, ../sass/index.scss */
.menu li a:hover {
  color: #bbbbbb;
}
/* line 69, ../sass/index.scss */
.menu li .active {
  content: url("../img/fleche-bas.png");
  position: absolute;
  top: -11px;
}
/* line 76, ../sass/index.scss */
.menu .li-top {
  top: -20px;
}
/* line 80, ../sass/index.scss */
.menu .li-bottom {
  top: 50px;
}
/* line 84, ../sass/index.scss */
.menu .logo {
  top: 0;
  margin: 5px 20px 0 20px;
}

/* line 90, ../sass/index.scss */
.wrapper {
  /*background-color: rgba(30,30,30,0.7);*/
}

/* line 94, ../sass/index.scss */
.bloc {
  padding: 10px;
  /*background: #0B3861;*/
  background: #222222;
  height: 500px;
  /*@include box-shadow(0px 0px 10px 1px black);
  box-shadow: 0px 0px 10px 1px black;*/
}
/* line 102, ../sass/index.scss */
.bloc h2, .bloc div {
  text-align: center;
}
/* line 106, ../sass/index.scss */
.bloc p {
  text-align: justify;
}

/* line 111, ../sass/index.scss */
.bloc-one {
  text-align: center;
  background: #fafafa;
  height: 100%;
  color: black;
  padding: 0;
  position: relative;
  z-index: 1;
}
/* line 120, ../sass/index.scss */
.bloc-one .index {
  z-index: 5;
}
/* line 124, ../sass/index.scss */
.bloc-one .circle-background {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background: url("../img/fond-cercles.png") repeat;
  /*background-size: cover;*/
  /*-webkit-background-size: cover;*/
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
/* line 137, ../sass/index.scss */
.bloc-one p {
  text-align: center;
}

/* line 142, ../sass/index.scss */
.row {
  max-width: 100%;
  margin: 10px 0;
}

/* line 147, ../sass/index.scss */
.blur {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.5;
}

/* line 152, ../sass/index.scss */
.no-blur {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

/* line 157, ../sass/index.scss */
.myPicture {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
/* line 165, ../sass/index.scss */
.myPicture:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
}

/* line 175, ../sass/index.scss */
.graphic {
  border-left: solid black 1px;
  padding-left: 3px;
}
/* line 179, ../sass/index.scss */
.graphic .li-graphic-percent {
  margin-left: 100px;
}
/* line 182, ../sass/index.scss */
.graphic .li-graphic-percent .graphic-percent {
  display: inline-block;
  width: 50px;
}
/* line 188, ../sass/index.scss */
.graphic .graphic-name {
  display: inline-block;
  width: 75px;
  vertical-align: top;
}
/* line 194, ../sass/index.scss */
.graphic .graphic-bar {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  height: 20px;
  background: #008cba;
  width: 0px;
  display: inline-block;
}

/* line 203, ../sass/index.scss */
.img-projet {
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

/* line 209, ../sass/index.scss */
.socials {
  margin: 0 auto;
  width: 352px;
  margin-bottom: 20px;
}
/* line 213, ../sass/index.scss */
.socials li {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
/* line 218, ../sass/index.scss */
.socials li a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: block;
  text-align: center;
  color: #bbb;
  background: grey;
  padding: 0 14px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
/* line 226, ../sass/index.scss */
.socials li a:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 232, ../sass/index.scss */
.socials .facebook a:hover {
  background: #3b5998;
}
/* line 235, ../sass/index.scss */
.socials .twitter a:hover {
  background: #55acee;
}
/* line 238, ../sass/index.scss */
.socials .linkedin a:hover {
  background: #1c6ca2;
}
/* line 241, ../sass/index.scss */
.socials .deezer a:hover {
  background: #111;
}
/* line 244, ../sass/index.scss */
.socials .github a:hover {
  background: black;
}

/* line 249, ../sass/index.scss */
.mail {
  display: block;
  width: 62px;
  margin: 0 auto;
}

/* line 255, ../sass/index.scss */
.myCV {
  padding: 5px;
  border: solid 1px #bbb;
  margin: 0 auto;
  width: 100px;
  cursor: pointer;
}

/* line 263, ../sass/index.scss */
.download_CV {
  display: block;
  text-align: center;
  margin-top: 10px;
}

/* line 269, ../sass/index.scss */
.like, .dislike {
  width: 44%;
  display: inline-block;
  vertical-align: top;
}

/* line 275, ../sass/index.scss */
.txt-cheat-code {
  color: #240B3B;
}

/* line 279, ../sass/index.scss */
.cheat-code {
  width: 250px;
  height: 80px;
  margin: 0 auto;
  margin-top: 10px;
}
/* line 285, ../sass/index.scss */
.cheat-code .cheat {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background: #F4FA58;
  display: inline-block;
  vertical-align: top;
  color: black;
}
/* line 296, ../sass/index.scss */
.cheat-code .cheat-1 div {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 12px 20px 12px;
  border-color: transparent transparent #facc2e transparent;
  margin: 6px;
}
/* line 306, ../sass/index.scss */
.cheat-code .cheat-2 div {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 12px 0 12px;
  border-color: #facc2e transparent transparent transparent;
  margin: 8px 6px;
}
/* line 316, ../sass/index.scss */
.cheat-code .cheat-3 div {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0px 12px 20px;
  border-color: transparent transparent transparent #facc2e;
  margin: 6px 10px;
}
/* line 326, ../sass/index.scss */
.cheat-code .cheat-4 div {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 20px 12px 0;
  border-color: transparent #facc2e transparent transparent;
  margin: 6px 5px;
}
/* line 336, ../sass/index.scss */
.cheat-code .cheat-a {
  background: #2E64FE;
  font-size: 23px;
}
/* line 340, ../sass/index.scss */
.cheat-code .cheat-b {
  background: #04B45F;
  font-size: 23px;
}

/* line 351, ../sass/index.scss */
.theclip {
  -webkit-clip-path: polygon(100% 50%, 84.70057% 54.56842%, 91.05185% 60.99981%, 82.33578% 63.39392%, 93.30127% 75%, 77.76737% 71.30665%, 80.05204% 80.05204%, 71.30665% 77.76737%, 75% 93.30127%, 63.39392% 82.33578%, 60.99981% 91.05185%, 54.56842% 84.70057%, 50% 100%, 45.43158% 84.70057%, 39.00019% 91.05185%, 36.60608% 82.33578%, 25.0% 93.30127%, 28.69335% 77.76737%, 19.94796% 80.05204%, 22.23263% 71.30665%, 6.69873% 75.0%, 17.66422% 63.39392%, 8.94815% 60.99981%, 15.29943% 54.56842%, 0% 50.0%, 15.29943% 45.43158%, 8.94815% 39.00019%, 17.66422% 36.60608%, 6.69873% 25.0%, 22.23263% 28.69335%, 19.94796% 19.94796%, 28.69335% 22.23263%, 25.0% 6.69873%, 36.60608% 17.66422%, 39.00019% 8.94815%, 45.43158% 15.29943%, 50.0% 0%, 54.56842% 15.29943%, 60.99981% 8.94815%, 63.39392% 17.66422%, 75.0% 6.69873%, 71.30665% 22.23263%, 80.05204% 19.94796%, 77.76737% 28.69335%, 93.30127% 25.0%, 82.33578% 36.60608%, 91.05185% 39.00019%, 84.70057% 45.43158%);
}

/* line 354, ../sass/index.scss */
.theclip:hover {
  -webkit-animation: "clip" 1s infinite;
}

@-webkit-keyframes "clip" {
  /* line 358, ../sass/index.scss */
  0% {
    -webkit-clip-path: polygon(100% 50%, 84.70057% 54.56842%, 91.05185% 60.99981%, 82.33578% 63.39392%, 93.30127% 75%, 77.76737% 71.30665%, 80.05204% 80.05204%, 71.30665% 77.76737%, 75% 93.30127%, 63.39392% 82.33578%, 60.99981% 91.05185%, 54.56842% 84.70057%, 50% 100%, 45.43158% 84.70057%, 39.00019% 91.05185%, 36.60608% 82.33578%, 25.0% 93.30127%, 28.69335% 77.76737%, 19.94796% 80.05204%, 22.23263% 71.30665%, 6.69873% 75.0%, 17.66422% 63.39392%, 8.94815% 60.99981%, 15.29943% 54.56842%, 0% 50.0%, 15.29943% 45.43158%, 8.94815% 39.00019%, 17.66422% 36.60608%, 6.69873% 25.0%, 22.23263% 28.69335%, 19.94796% 19.94796%, 28.69335% 22.23263%, 25.0% 6.69873%, 36.60608% 17.66422%, 39.00019% 8.94815%, 45.43158% 15.29943%, 50.0% 0%, 54.56842% 15.29943%, 60.99981% 8.94815%, 63.39392% 17.66422%, 75.0% 6.69873%, 71.30665% 22.23263%, 80.05204% 19.94796%, 77.76737% 28.69335%, 93.30127% 25.0%, 82.33578% 36.60608%, 91.05185% 39.00019%, 84.70057% 45.43158%);
  }

  /* line 361, ../sass/index.scss */
  50% {
    -webkit-clip-path: polygon(84.70057% 54.56842%, 91.05185% 60.99981%, 82.33578% 63.39392%, 93.30127% 75%, 77.76737% 71.30665%, 80.05204% 80.05204%, 71.30665% 77.76737%, 75% 93.30127%, 63.39392% 82.33578%, 60.99981% 91.05185%, 54.56842% 84.70057%, 50% 100%, 45.43158% 84.70057%, 39.00019% 91.05185%, 36.60608% 82.33578%, 25.0% 93.30127%, 28.69335% 77.76737%, 19.94796% 80.05204%, 22.23263% 71.30665%, 6.69873% 75.0%, 17.66422% 63.39392%, 8.94815% 60.99981%, 15.29943% 54.56842%, 0% 50.0%, 15.29943% 45.43158%, 8.94815% 39.00019%, 17.66422% 36.60608%, 6.69873% 25.0%, 22.23263% 28.69335%, 19.94796% 19.94796%, 28.69335% 22.23263%, 25.0% 6.69873%, 36.60608% 17.66422%, 39.00019% 8.94815%, 45.43158% 15.29943%, 50.0% 0%, 54.56842% 15.29943%, 60.99981% 8.94815%, 63.39392% 17.66422%, 75.0% 6.69873%, 71.30665% 22.23263%, 80.05204% 19.94796%, 77.76737% 28.69335%, 93.30127% 25.0%, 82.33578% 36.60608%, 91.05185% 39.00019%, 84.70057% 45.43158%, 100% 50%);
  }

  /* line 364, ../sass/index.scss */
  100% {
    -webkit-clip-path: polygon(91.05185% 60.99981%, 82.33578% 63.39392%, 93.30127% 75%, 77.76737% 71.30665%, 80.05204% 80.05204%, 71.30665% 77.76737%, 75% 93.30127%, 63.39392% 82.33578%, 60.99981% 91.05185%, 54.56842% 84.70057%, 50% 100%, 45.43158% 84.70057%, 39.00019% 91.05185%, 36.60608% 82.33578%, 25.0% 93.30127%, 28.69335% 77.76737%, 19.94796% 80.05204%, 22.23263% 71.30665%, 6.69873% 75.0%, 17.66422% 63.39392%, 8.94815% 60.99981%, 15.29943% 54.56842%, 0% 50.0%, 15.29943% 45.43158%, 8.94815% 39.00019%, 17.66422% 36.60608%, 6.69873% 25.0%, 22.23263% 28.69335%, 19.94796% 19.94796%, 28.69335% 22.23263%, 25.0% 6.69873%, 36.60608% 17.66422%, 39.00019% 8.94815%, 45.43158% 15.29943%, 50.0% 0%, 54.56842% 15.29943%, 60.99981% 8.94815%, 63.39392% 17.66422%, 75.0% 6.69873%, 71.30665% 22.23263%, 80.05204% 19.94796%, 77.76737% 28.69335%, 93.30127% 25.0%, 82.33578% 36.60608%, 91.05185% 39.00019%, 84.70057% 45.43158%, 100% 50%, 84.70057% 54.56842%);
  }
}

/* BLOG */
/* line 371, ../sass/index.scss */
.blog {
  width: 80%;
  margin: 0 auto;
  background: #222222;
  padding: 5px;
  margin-bottom: 50px;
}
/* line 378, ../sass/index.scss */
.blog h1 {
  text-align: center;
  margin-bottom: 50px;
}

/* line 384, ../sass/index.scss */
.article {
  padding: 12px;
  border: solid 1px #bbb;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* line 391, ../sass/index.scss */
.cover {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

/* line 397, ../sass/index.scss */
.article-preview {
  display: inline-block;
  width: 700px;
  position: relative;
}
/* line 403, ../sass/index.scss */
.article-preview h2 {
  margin-top: 0;
}

/* line 408, ../sass/index.scss */
input.btn_article {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  display: block;
  background: white;
  width: 102px;
  position: relative;
  border: none;
  font-family: 'Verdana';
  color: #222;
  padding: 5px 0px;
  font-size: 14px;
  cursor: pointer;
}
/* line 422, ../sass/index.scss */
input.btn_article:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background: #0078a0;
  color: white;
}

/* line 429, ../sass/index.scss */
.right {
  text-align: right;
}
