<IfModule mod_rewrite.c>
   RewriteEngine on

   RewriteCond %{HTTP_HOST} ^www.webarranco\.fr$ [NC]
   RewriteRule ^.*$ https://webarranco.fr%{REQUEST_URI} [R=301,L] # <-- Mind the 'L'!

   RewriteCond %http://^webarranco\.fr$ [NC]
   RewriteRule ^.*$ https://webarranco.fr%{REQUEST_URI} [R=301,L] # <-- Mind the 'L'!

   RewriteRule ^$ app/webroot/ [L]

   RewriteCond %{REQUEST_FILENAME} !projets
   RewriteCond %{REQUEST_FILENAME} !lab
   RewriteCond %{REQUEST_FILENAME} !games
   RewriteCond %{REQUEST_FILENAME} !music
   RewriteCond %{REQUEST_FILENAME} !Noddi
   RewriteCond %{REQUEST_FILENAME} !image
   RewriteCond %{REQUEST_FILENAME} !docweb
   RewriteCond %{REQUEST_FILENAME} !old-index.php
   RewriteCond %{REQUEST_FILENAME} !bonnefetemaman
   RewriteCond %{REQUEST_FILENAME} !read_mangas
   RewriteCond %{REQUEST_FILENAME} !lightbox
   RewriteCond %{REQUEST_FILENAME} !revealjs
   RewriteCond %{REQUEST_FILENAME} !ecv
   RewriteCond %{REQUEST_FILENAME} !iesa
   RewriteCond %{REQUEST_FILENAME} !MIJump
   RewriteCond %{REQUEST_FILENAME} !angye
   RewriteCond %{REQUEST_FILENAME} !elastique
   RewriteCond %{REQUEST_FILENAME} !appart
   RewriteCond %{REQUEST_FILENAME} !crypte
   RewriteCond %{REQUEST_FILENAME} !thevoice

   RewriteRule (.*) app/webroot/$1 [L]

   ErrorDocument 404 /404-not-found
</IfModule>

<IfModule mod_headers.c>    
#Header add Access-Control-Allow-Origin "http://webarranco.fr:8000"
Header add Access-Control-Allow-Origin "http://localhost"


</IfModule>